<!DOCTYPE html>
<html>
    <head>
        <title>Add Employee Form Page</title>

        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/mdb.css">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/style.css">

        <script src="addEmployeeApp.js" defer></script>
    </head>
    <body>

        <!-- Nav -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark lighten-2 mb-4">

            <!-- Navbar brand -->
            <a id="brand" class="navbar-brand" href="#">Employee Management</a>
          
        </nav>

        <!-- End Nav-->

        <div class="container mb-5 mt-3">
            <div class="row">
                <div class="card mb-5 mt-3" style="width: 550px; margin: auto;">
                    <div class="card-header bg-primary text-white">
                        <h5>Add Employee Form</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-outline mb-3">
                            <div class="input-group mb-3">
                                <input type="text" placeholder="Enter firstname..." id="firstname" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" placeholder=" Enter lastname..." id="lastname" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" placeholder="Enter email..." id="email" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="submit" value="Add" class="btn btn-primary" onclick="addEmployee()">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="page-footer font-small grey">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
              <a href="#"> Milad Arianfar</a>
            </div>
            <!-- Copyright -->
          
        </footer>

        <script src="bootstrap/js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="bootstrap/js/mdb.js"></script>
        <script src="bootstrap/js/popper.js"></script>
    </body>
</html>